.file-upload{

  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;

  justify-content: space-between;
  font-size: 1rem;
}

.picsprof {
  /* margin-bottom: 12.5%; */
  margin-bottom: 16%;
  margin-left: 33%;
}

.Profilepics{
  /* color: red; */
  width: 50%;
  margin-left: 20%;
}

.bord{
  margin-top: 0%;
  /* border: 1px solid #000; */
  margin-left: 20%;
  margin-bottom: 0%;
  margin-right: 20%;
}

.h3{
  text-align: center;
}

.inputfile {
  /* background-color: red; */
  margin-left: 8%;
}

.previewText {
  width: 100%;
  margin-top: 20px;
}
